@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  background: #0B0B0C;
  color: white;
  overflow-x: hidden;
}